{% extends 'minerals_app/layout.html' %}
{% load static %}

{% block content %}
  <div class="bounds bounds--small">
    <div class="grid-100 mineral__container">
      <h1 class="mineral__name">{{ name }}</h1>
      <div class="mineral__image-bg">
        <img class="mineral__image" src="{% static image_filename %}" alt="mineral image">
        <p class="mineral__caption">{{ image_caption }}</p>
      </div>
      <div class="mineral__table-container">
        <table class="mineral__table">
          {% for key, value in mineral_dict.items %}
          <tr>
            <td class="mineral__category">{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}